* {
    font-family: sans-serif;
    font-size: small;
    background-image: url(./img/backroundimage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: #060606;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 2);
    border-radius: 10px;
    color: white;
    }

h2 {
    color: rgb(255, 0, 0);
    font-size: 20px;
}

input, label, textarea {
    color: #fff;
}

button {
    padding: 10px 20px;
    color: #CBBDDB;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #8F7CEC;
    margin: auto;
}

button:hover {
    background: #8F7CEC;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC;
}
